$font-default: "Montserrat", sans-serif !default;

$color-text: #1D1E21;
$color-white: #fff;

$font-size-default: 1.6rem;
$font-size-primary: 5rem;
$font-size-medium: 2.4rem;

$grid-width: 125rem;
$gutter-vertical-large: 20rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;