.header {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  transition: background-color .5s;

  &__content {
    max-width: 90%;
    margin: 0 auto;
    min-height: 12rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include respond(tab-port) {
      min-height: 5rem;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__logo {
    margin-right: auto;
  }

  &--white {
    background-color: $color-white;
  }

}