.header {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  &__content {
    max-width: 90%;
    margin: 0 auto;
    min-height: 12rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include respond(tab-port) {
      min-height: 5rem;
    }
  }

  &__logo {
    height: 3rem;
    margin-right: auto;
  }
}