.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.2rem 2.6rem;
    font-size: 1.8rem;
    display: inline-block;
    border-radius: 10rem;
    cursor: pointer;
    border: 2px solid $color-text;
    color: $color-text;
    background-color: transparent;
    transition: all .4s;
  }

  &:hover {
    background-color: $color-text;
    color: $color-white;
    transform: scale(1.08);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
  }

  &:active,
  &:focus {
    outline: none;
    background-color: $color-text;
    color: $color-white;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &--text {
    &:link,
    &:visited {
      font-size: 1.4rem;
      color: $color-white;
      display: inline-block;
      text-decoration: none;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $color-white;
      padding: 3px;
      transition: all .2s;
    }

    &:hover,
    &:active,
    &:focus{
      color: $color-primary;
      background-color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-text, .15);
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: 0 .5rem 1rem rgba($color-text, .15);
      transform: translateY(0);
    }
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover,
    &:active,
    &:focus{
      background-color: $color-primary;
      color: $color-white;
    }

    &:focus {
      transform: scale(1.08);
      box-shadow: 0 1rem 2rem rgba(0,0,0,0.15);
    }
  }

  &--medium {
    padding: 1.2rem 4.6rem;
  }
}