.social-media {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 5rem;

  @include respond(tab-port) {
    margin-left: 0;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    transition: all .2s;

    &:hover,
    &:active,
    &:focus{
      transform: translateY(-.4rem);
    }

  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $color-text;

    &--white {
      fill: $color-white
    }
  }
}