.section-home {
  position: relative;
  height: 100vh;
  background-image: url(../assets/img/img-home.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

